:root {
    --primary: #121941;
    --light:  #ffffff;
    --grey: #e4e2e1;

}

/* tamaño de los iconos del menu */
#icono_menu {
    width: 15px;
    height: 15px;
  }

  body {
      overflow: hidden;
      font-family: Arial;
      font-weight: 300;
      color: var(--primary);
  }

a:hover {
    text-decoration: none;
}

  .bg-primary {
      background-color: var(--primary) !important;
  }

  /* cambiar el color del panel superior */
  .bg-light {
    
      background-color: var(--light) !important;
  }

  .bg-mix{
      background: linear-gradient(180deg, var(--light) 50%, var(--grey) 0);
  }

  .bg-grey {
      background-color: var(--grey) !important;
  }

  /* quita el borde de todos los botones */
  .btn{
      border: 0;
  }
  /* color del boton */
.btn-primary{
    background-color: var(--primary);
}
/* color del boton cuando el cursor esta sobre el */
.btn-primary:hover{
    background-color: var(--primary);
}

  #sidebar-container {
      min-height: 100vh;
  }

  #sidebar-container .logo {
      padding: .875rem 1.25rem;
  }

  #sidebar-container .menu {
      width: 18rem;
  }


  .btn-search {
      right: 5px;
  }

  .avatar{
      max-width: 35px;
  }

  #content {
      overflow-y: auto;
      height: 100vh;
      padding-bottom: 5rem;
  }

  .stat {
      border-right: 1px solid var(--grey);

  }

  @media (max-width : 768px) {
      #sidebar-container {
          display: none;
      }
      .stat{
          border: 0;
      }
  }